<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="hi5-target" sequenceNumber="45">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.texo.runtime.core.feature.group" version="0.9.0.v201611141242"/>
<repository location="http://download.eclipse.org/modeling/emft/texo/updates/interim"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="javax.ws.rs" version="2.0.1.v201504171603"/>
<unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.core" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.core.source" version="1.3.0.v201303031735"/>
<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
<unit id="org.hamcrest.library" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.library.source" version="1.3.0.v201505072020"/>
<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.junit.source" version="4.12.0.v201504281640"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.mockito.source" version="1.9.5.v201605172210"/>
<unit id="org.objenesis" version="1.0.0.v201505121915"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="5.3.1.201602281253"/>
<unit id="com.eclipsesource.jaxrs.connector.feature.source.feature.group" version="5.3.1.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.gson.feature.feature.group" version="2.3.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.gson.feature.source.feature.group" version="2.3.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.moxy.feature.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.moxy.feature.source.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.multipart.feature.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.multipart.feature.source.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.security.feature.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.security.feature.source.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.sse.feature.source.feature.group" version="2.2.0.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.swagger.feature.feature.group" version="1.1.1.201602281253"/>
<unit id="com.eclipsesource.jaxrs.provider.swagger.feature.source.feature.group" version="1.1.1.201602281253"/>
<repository location="http://hstaudacher.github.io/osgi-jax-rs-connector/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.10.1.v20170928-1405"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.1.v20170928-1405"/>
<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="3.13.1.v20170928-1405"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.7.1.M20171009-0410"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
