<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main">
         <run
               class="de.metadocks.hi5.e4.internal.E4EquinoxApp">
         </run>
      </application>
   </extension>
</plugin>
