<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?>
<target name="hi5-target" sequenceNumber="47">
    <locations>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.connector.feature.source.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.gson.feature.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.gson.feature.source.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.moxy.feature.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.moxy.feature.source.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.multipart.feature.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.multipart.feature.source.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.security.feature.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.security.feature.source.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.sse.feature.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.sse.feature.source.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.swagger.feature.feature.group" version="0.0.0"/>
            <unit id="com.eclipsesource.jaxrs.provider.swagger.feature.source.feature.group" version="0.0.0"/>
            <repository location="http://hstaudacher.github.io/osgi-jax-rs-connector/"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200831200620/repository"/>
	        <unit id="javax.activation" version="1.1.0.v201211130549"/>
            <unit id="javax.mail" version="1.4.0.v201005080615"/>
            <unit id="javax.xml.rpc" version="1.1.0.v201209140446"/>
            <unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
            <unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
            <unit id="org.apache.commons.io.source" version="2.6.0.v20190123-2029"/>
            <unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
            <unit id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>
            <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
            <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
            <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
            <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
            <unit id="org.hamcrest.core.source" version="1.3.0.v20180420-1519"/>
            <unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
            <unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
            <unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
            <unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
            <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
            <unit id="org.hamcrest.library.source" version="1.3.0.v20180524-2246"/>
            <unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
            <unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
            <unit id="org.json" version="1.0.0.v201011060100"/>
            <unit id="org.junit" version="4.13.0.v20200204-1500"/>
            <unit id="org.junit.source" version="4.13.0.v20200204-1500"/>
            <unit id="org.mockito" version="2.23.0.v20200310-1642"/>
            <unit id="org.mockito.source" version="2.23.0.v20200310-1642"/>
            <unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
	        <unit id="com.github.jnr.constants" version="0.9.15.v20200501-1917"/>
	        <unit id="com.github.jnr.enxio" version="0.25.0.v20200501-1917"/>
	        <unit id="com.github.jnr.ffi" version="2.1.12.v20200513-1859"/>
	        <unit id="com.github.jnr.jffi" version="1.2.23.v20200501-1917"/>
	        <unit id="com.github.jnr.jffi.native" version="1.2.23.v20200501-1917"/>
	        <unit id="com.github.jnr.posix" version="3.0.54.v20200501-1917"/>
	        <unit id="com.github.jnr.unixsocket" version="0.28.0.v20200501-1917"/>
	        <unit id="com.kenai.jffi" version="1.2.7.v201505052040"/>
	        <unit id="jnr.x86asm" version="1.0.2.v201505052040"/>
	        <unit id="org.objectweb.asm" version="8.0.1.v20200420-1007"/>
	        <unit id="org.objectweb.asm.commons" version="8.0.1.v20200420-1007"/>
	        <unit id="org.objectweb.asm.analysis" version="8.0.1.v20200420-1007"/>
	        <unit id="org.objectweb.asm.tree" version="8.0.1.v20200420-1007"/>
	        <unit id="org.objectweb.asm.util" version="8.0.1.v20200420-1007"/>
	        <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
	        <unit id="com.google.guava.source" version="27.1.0.v20190517-1946"/>
	        <unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
	        <unit id="javax.xml" version="1.3.4.v201005080400"/>
	        <unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
	        <unit id="javax.xml.ws" version="2.1.0.v200902101523"/>
	        <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.core.jackson-annotations.source" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.core.jackson-core" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.core.jackson-core.source" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.core.jackson-databind.source" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava.source" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base.source" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider.source" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.10.3.v20200512-1600"/>
	        <unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations.source" version="2.10.3.v20200512-1600"/>
	        <unit id="com.google.http-client.google-http-client-jackson2" version="1.34.2.v20200515-2048"/>
	        <unit id="com.google.http-client.google-http-client-jackson2.source" version="1.34.2.v20200515-2048"/>
	        <unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
	        <unit id="org.codehaus.jackson.core.source" version="1.6.0.v20101005-0925"/>
	        <unit id="org.codehaus.jackson.jaxrs" version="1.6.0.v20101005-1100"/>
	        <unit id="org.codehaus.jackson.jaxrs.source" version="1.6.0.v20101005-1100"/>
	        <unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
	        <unit id="org.codehaus.jackson.mapper.source" version="1.6.0.v20101005-0925"/>
	        <unit id="org.codehaus.jackson.smile" version="1.6.0.v20101005-0925"/>
	        <unit id="org.codehaus.jackson.smile.source" version="1.6.0.v20101005-0925"/>
	        <unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.30.1.v20200513-1859"/>
	        <unit id="org.glassfish.jersey.media.jersey-media-json-jackson.source" version="2.30.1.v20200513-1859"/>
	        <unit id="jakarta.activation" version="2.0.0.v20200505-1855"/>
        </location>
	    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/releases/2020-03"/>
		    <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
	    </location>
	    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		    <repository location="http://download.eclipse.org/eclipse/updates/4.15"/>
		    <unit id="org.eclipse.platform.ide" version="0.0.0"/>
		    <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
	    </location>
    </locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>